
@{
    ViewBag.Title = "BootstrapDeneme";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>
<div class="col-sm-12">
    <div class="col-sm-3" style="background-color: gainsboro;">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                Cras justo odio
            </button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
        </div>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                Cras justo odio
            </button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
        </div>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                Cras justo odio
            </button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
        </div>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                Cras justo odio
            </button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
        </div>
    </div>
    <div class="col-sm-9" style="background-color: grey;">
        <div class="row row-cols-3">
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card col-sm-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
        </div>
    </div>
</div>